{{ define "main" }}
<section class="section">
  <div class="container">
    <article class="single">
      {{ if eq .Type "seminar" }}
        <div class="single-header">
          <span class="tag cat-{{ .Params.category | urlize }}">{{ .Params.category }}</span>
          <span class="status {{ .Params.status }}">{{ .Params.status }}</span>
        </div>
        <h1>{{ .Title }}</h1>
        <div class="single-meta">
          <div>開催日: {{ .Params.event_date }}</div>
          <div>開催時間: {{ .Params.event_time }}</div>
          <div>開催形式: {{ .Params.location }}</div>
          <div>告知公開日: {{ .Date.Format "2006-01-02" }}</div>
        </div>
      {{ else }}
        <h1>{{ .Title }}</h1>
        <div class="single-meta">
          <div>公開日: {{ if .Date.IsZero }}{{ now.Format "2006-01-02" }}{{ else }}{{ .Date.Format "2006-01-02" }}{{ end }}</div>
        </div>
      {{ end }}
      <div class="single-body">
        {{ .Content }}
      </div>
    </article>
  </div>
</section>
{{ end }}
