<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">
      <img class="brand-logo" src="/images/hyl-logo-96.png" srcset="/images/hyl-logo-96.png 1x, /images/hyl-logo-192.png 2x" alt="HYL" />
      <div class="brand-text">
        <span class="brand-title">{{ site.Title }}</span>
        <span class="brand-subtitle">{{ site.Params.site_subtitle }}</span>
      </div>
    </a>
    <nav class="site-nav">
      <a href="/posts/">セミナー一覧</a>
      <a href="/contact/">お問い合わせ</a>
    </nav>
  </div>
</header>
